body {
    font-family: Arial, sans-serif;
    margin: 40px;
    padding: 40px;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

h1 {
    font-family: 'Tilt Prism', cursive;
    font-size: 50px;
    font-weight: bold;
    color: #0074d9;
    opacity: 0.8;
}

h3 {
    font-size: 24px;
    color: #555;
    
}

p {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
    font-family: 'Yantramanav', sans-serif;
}

em {
    opacity: 0.8;
    font-size: 25px;
    font-style: italic;
}

.important {
    font-weight: bold;
    text-decoration: underline;
    color: #0074d9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

.language-button {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}
.footnote {
    font-size: 10px;
    opacity: 0.7;

}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

h1 {
    animation: blink 2s infinite; 
}


a {
    color:#00aed9; 
    font-size: 20px;
}


a:hover {
    color: #0676aacc; 
    font-size: 25px;
}


a:visited {
    color: #1565a7; 
    font-size: 20px;
}
.leand {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: bold;
                } 